canvas{
	width: 100%;
	height: 100%;
	background-color: #000000;
	background-image: -o-linear-gradient(303deg, #000000 0%, #43434382 85%);
	background-image: linear-gradient(147deg, #000000 0%, #43434382 85%);
}
body, html{
	width: 100%;
	margin: 0;
}
h1{
	color: white;
}